.container{
	margin-left: 10%;
	margin-right: 10%;
}

.info{
	float: left;
}

#gb_ll{
	float: right;
}

hr{
	clear: both;
}

body{
	background-color: #F1F1F1;
}

dt{
	font-weight: 700;
}

.interaction{
	margin-top: 10px;
	width: 100%;
}

#show_table{
	display: none;
	width: 100%;
}
